/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/*NAVIGATOR ELEMENTS*/
.navigator {
    display: grid;
    position: fixed;
    text-align: right;

    right: 2%;
    top: 40%;
    padding: 10px;

    border-radius: 10px 0px 0px 10px;

    background-color: #404040;
}

.navigator a {
    font-size: 20px;
}

/*CANVAS ELEMENT*/
.bgCanvas {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background-color: transparent;

    border-bottom: 5px solid #404040;

    animation-duration: 5s;
    animation-delay: 2s;
    animation-name: fadeInCanvas;
    animation-fill-mode: forwards;
}

@keyframes fadeInCanvas {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
/* Top Nav Bar */
.stickyNavBar {
    position: relative;
    background-color: #404040;
    top: 100vh;
}

.stickyNavBar a {
    padding: 10px;
}

/*TOP CONTENT DIV*/
.topContent {
    z-index: 1;
}

/*MAIN TEXT ELEMENTS*/
h1 {
    font-size: 100px;
    font-weight: bold;
    
} 

h2 {
    font-size: 60px;
    font-weight: bold;
}

.mainText {
    padding-top: 450px;
    padding-left: 200px;
}

.t1 {
    animation-duration: 3s;
    animation-name: slideIn1;
    text-shadow: 3px 3px 4px #000000;
}

.t2 {
    
    animation-duration: 3s;
    animation-name: slideIn2;
    text-shadow: 3px 3px 4px #000000;
}

@keyframes slideIn1 {
    from {
        opacity: 0;
        margin-left: -800px;
    }
}

@keyframes slideIn2 {
    from {
        opacity: 0;
        margin-left: -1300px;
    }
}

/*ARROW ELEMENTS*/

.arrowDiv {
    display: flex;
    position: absolute;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 480px;

    opacity: 0;

    animation-name: fadeIn;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.arrowDiv .grid {
    display: grid;
    text-align: center;
    font-weight: 100;
    color:#969696; 
}

.arrowDiv .grid p {
    opacity: 0;
    animation-name: textFadeIn;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 350px;
    } to {
        opacity: 1;
    }
}

/*ABOUT ME / SKILLS*/
.aboutMe {
    margin-top: 600px;
    display: absolute;
    margin-bottom: 250px;
}

.aboutMe .grid {
    display: grid;
    grid-template-columns: 100fr 100fr;
    grid-row-gap: 50px;
    place-items: center;
}

.aboutMe h3 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.aboutMe p {
    text-align: center;
    font-size: 20px;
}


/*FAV PROJECTS ELEMENTS*/
.recentProjects {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.recentProjectEntry {
    display: grid;
    width: 1200px;
    margin: auto;

    border-radius: 15px;

    grid-template-columns: repeat(2, 1fr);
    background-color: #6a6b6e;
    box-shadow: 5px 8px 8px #000000;
}

.recentProjectEntry div {
    padding: 15px;
}

.recentProjectEntry .imgRight {
    border-radius: 0px 10px 10px 0px;
}

.recentProjectEntry .imgLeft {
    border-radius: 10px 0px 0px 10px;
}

.recentProjectEntry a {
    position: absolute;
    top: 390px;

    background-color: rgb(167, 165, 165);
    padding: 10px;
    border-radius: 5px;
}  

/*MAIN CONTENT*/
.mainContent {
    margin-left: 15%;
    margin-right: 15%;

    padding-top: 200px;
}

@keyframes fadeInMain {
    to {
        opacity: 1;
    }
}

/*Contact Area elements --- Footer*/

.contactArea {
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-color: #6a6b6e;
}