/*
* Side Menu
*/
.sideMenu {
  padding-left: 10px;
  padding-right: 10px;

  width: 300px;
  height: 700px; 
  position: absolute;
  
  left: 0%;
  top: 22%;
  
  border-radius: 0px 15px 15px 0px;
  
  background-color: #303030;
  box-shadow: 0px 0px 5px black;
  
  animation-duration: 1.5s;
  animation-name: slideIn-LeftToRight;
}

.sideMenu button {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.sideMenu button:hover{
    color: #0088a9
}

  
@keyframes slideIn-LeftToRight {
  from {
    left: -350px;
  }
  to {
    left: 0%;
  }
}

.sideMenu .sortBtn {
  background-color: green;
  position: relative;
  top: 80%;
  left: 15%;

  padding-left: 80px;
  padding-right: 80px;

  border-radius: 10px 10px 10px 10px;
}
  
/*
* BAR ELEMENT
*/

.arrBar {
  width: 30px;

  background-color: #21b5ff;

  border-radius: 0px 0px 10px 10px;
  border-width: 3px;
  
  margin-right: 4px;
  display: inline-flex;
  opacity: 1;
}

.arrBar p {
  margin: 0px Auto 0px Auto;
}

.animateBar {
  animation: newHeightAnimation .3s 1;
}

.arrBarTransition-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s ease-in;
}

.arrBarTransition-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

.arrBarTransition-exit {
  opacity: 1;
  transform: translateY(0%);
}

.arrBarTransition-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s ease-in;
}

.testing {
  width: 100px;
  height: 100px;
  background-color: red;
}

@keyframes newHeightAnimation {
  0%   { 
    height: var(--prevHeight);
  }
  100% { 
    height: var(--newHeight);
  }
}


/*
* Main Window
*/
  
.mainWindow {
  width: 1920px;
  height: 1200px; 
  position: absolute;

  padding-left: 10px;
  padding-right: 10px;
  
  right: 5%;
  top: 0%;
  border-radius: 0px 0px 15px 15px;

  background-color: #303030;
  box-shadow: 0px 0px 5px black;

  animation-duration: 2s;
  animation-name: slideIn-Down;
}
  
@keyframes slideIn-Down {
  from {
    top: -1920px;
  }
  to {
    top: 0%;
  }
}

/*
* Bar Element Area
*/
.barElementArea {
  position: absolute;
  left: 2%;
}

/*
* Settings Panel Area
*/

.mainWindow .settingPanel {
  width: 1300px;
  height: 80px; 
  position: absolute;

  display: flex;

  padding-left: 10px;
  padding-right: 10px;

  z-index: -1;

  right: 15%;
  top: 100%;

  border-radius: 0px 0px 15px 15px;

  background-color: #303030;
  box-shadow: 0px 0px 5px black;

  animation-duration: 2.5s;
  animation-name: slideIn-Down-SettingsPanel;
}

.mainWindow .slider{
  padding-right: 20px;
}

@keyframes slideIn-Down-SettingsPanel {
  from {
    top: -400px;
  }
  to {
    top: 100%;
  }
}

/*
* SLIDERS 
*/
.settingDiv {
  align-items: center;
    color: white;
    margin-bottom: 2rem;

}

.value {
  top: -100px;
  font-size: 1rem;
}

.slider {
  flex: 6;
  width: 400px;
  height: 10px;
  border-radius: 5px;
  background: #efefef;
  outline: none;            
}

.settingsLine {
  width: 5%;
}